body {
    font-family: "Inter", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    background: #0B2434;

}

#root {
    margin: 5% auto;
    background: #FFFFFF;
    width: 80%;
    height: 80vh;
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}
